.Burger{
    width:100%;
    margin:auto;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    content: "default";
}

@media(min-width:500px) and (min-height:400px){
    .Burger{
        content: "500-400";
        width: 350px;
        height: 300px;
    }
}

@media(min-width:500px) and (min-height:401px){
    .Burger{
        content: "500-401";
        width: 450px;
        height: 400px;
    }
}

@media(min-width:1000px) and (min-height:700px){
    .Burger{
        content: "1000-700";
        width: 700px;
        height: 600px;
    }
}